body {
  font: Arial, Helvetica, sans-serif;
}

#container {
  width: 1500px;
  /*border: 1px solid grey;*/
  margin: 0 auto;
}

h1 a {
  font-size: 50px;
  font-weight: bold;
  color: #cc0066;
  text-decoration: none;
}
#header {
  height: 100px;
  padding: 10px 0;
}

#brand {
  float: left;
}

#searchBox {
  float: right;
  background: #00ff00;
  width: 350px;
  height: 50px;
  padding: 20px 20px 0 20px;
  margin-top: 20px;
}

.text {
  float: left;
  width: 200px;
  padding: 5px;
  font-size: 15px;
  color: orange;
  background: white url(logo.png) right center no-repeat;
  border: 1px solid green;
}

.submit {
  float: right;
  padding: 5px;
  font-weight: bold;
  color: white;
  background: purple;
  font-size: 13px;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
}

#menu {
  background-color: #ebdb34;
  height: 70px;
  padding: 10px 0;
}

#menu ul li {
  float: left;
  padding: 0 35px;
  height: 25px;
  border-right: 2px solid #7734eb;
}

#menu ul li:last-child {
  border-right: none;
}

#menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #7734eb;
  line-height: 30px;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

#menu ul li a:hover,
#menu ul li a.active {
  font-size: 20px;
  font-weight: bold;
  color: purple;
}

#introduction {
  background: #a7f542;
  padding: 30px;
  margin: 16px 0;
}

#introduction h3 {
  font-size: 45px;
  color: #196e13;
  font-weight: normal;
}

#introduction p {
  font-size: 25px;
  color: #2c9e24;
  text-align: justify;
}

.sidebar {
  width: 500px;
  height: 460px;
  border: 1px solid burlywood;
  border-radius: 20px;
  padding: 10px 20px;
}

.sidebar h3 {
  color: #cc0066;
  font-size: 30px;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #5d12e7;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: #b334db;
  font-size: 23px;
  font-weight: bold;
}

.sidebar ul {
  padding-top: 8px;
}

#leftsidebar ul li {
  padding-bottom: 6px;
  padding-left: 10px;
  list-style-image: url(arrow.png);
}

#rightsidebar ul li {
  padding-bottom: 5px;
  padding-left: 70px;
  padding-top: 15px;

  background: url(tick.png) no-repeat left center;
}

#leftsidebar {
  float: left;
}

#rightsidebar {
  float: right;
}

.footer {
  height: 60px;
  background: #ebdb34;
  padding: 10px 30px;
  margin-top: 15px;
}
